In [1]:
import pandas as pd
from io import StringIO

In [2]:
import re
import numpy as np

with open("VR_logs/1056_B1.dat") as f:
    lines = f.readlines()

In [3]:
temp = []
for k in lines:
    temp.append(k.split(' ', 2))
    
mat = pd.DataFrame(temp)
mat.head()

          0             1                                                  2
0  2020/3/3  11:43:52.152                    Picked up SM_Plate_Blueprint9\n
1  2020/3/3  11:43:56.502   Picked up BP_FD_Fries_SweetPotato_C_2147482340\n
2  2020/3/3   11:44:0.234  Placed BP_FD_Fries_SweetPotato_C_2147482340 on...
3  2020/3/3    11:44:0.56     Dropped BP_FD_Fries_SweetPotato_C_2147482340\n
4  2020/3/3  11:44:13.296  Placed BP_FD_Rice_White_C_2147482338 onto plat...

In [4]:
mat = mat.replace(to_replace='None', value=np.nan).dropna()
mat.tail()

           0             1                                                  2
34  2020/3/3   11:45:4.517                 Dropped SM_FD_Cookies_ChocChip_9\n
35  2020/3/3   11:45:4.762  Placed SM_FD_Cookies_ChocChip_9 onto plate SM_...
36  2020/3/3  11:45:45.542            Dropped SM_BeverageCup_Blueprint4_219\n
37  2020/3/3   11:45:8.761                      Dropped SM_Plate_Blueprint8\n
38  2020/3/3   11:45:8.761                    Picked up SM_Plate_Blueprint8\n

### Placed and dropped items in split second time

In [5]:
plate = []
for i in range(len(mat)):
    try:
        if "Placed" in mat[2][i] and "Dropped" in mat[2][i+1] and (float(mat[1][i][-4:]) - float(mat[1][i+1][-4:])) < 2.0000:
              plate.append(mat[2][i+1].split()[1][6:])
    except Exception as e:
        print(e)
            
plate

['Fries_SweetPotato_C_2147482340',
 'Rice_White_C_2147482338',
 'te_Blueprint9',
 'Cookies_ChocChip_9',
 'erageCup_Blueprint4_219']

### Check Placed onto Plate items

In [6]:
on_plate = []

for i in range(len(mat)):
    try:
        if "onto plate" in mat[2][i]:
              on_plate.append(mat[2][i].split("onto")[0].split()[1][6:])
    except Exception as e:
        print(e)

In [7]:
on_plate

['Fries_SweetPotato_C_2147482340',
 'Rice_White_C_2147482338',
 'Chicken_Cajun_C_2147482336',
 'Strawberry8',
 'LemonSquare_7',
 'LemonSquare_8',
 'Cookies_ChocChip_9']

#### Check in video wheter placed and dropped are linked to plates

- Picked items and placed back
- create events [pickup, return] with timestamp
- food item event eg.

### Drinks placed on plates

In [9]:
meal = []

og_temp = pd.DataFrame(temp)
drinks = [og_temp[0][i] for i in range(len(og_temp[2])) if "SKA" in og_temp[0][i]]
drinks

['SKA_BeverageLiquid_CokeDiet_90%\n']